USE [master]
GO
/****** Object:  Database [CALL_CENTER_DB]    Script Date: 03/11/2023 9:45:58 ******/
CREATE DATABASE [CALL_CENTER_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CALL_CENTER_DB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CALL_CENTER_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CALL_CENTER_DB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CALL_CENTER_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CALL_CENTER_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CALL_CENTER_DB]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 03/11/2023 9:45:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[idEstado] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incidente]    Script Date: 03/11/2023 9:45:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incidente](
	[idIncidente] [int] IDENTITY(1,1) NOT NULL,
	[idEstado] [int] NOT NULL,
	[Descripcion] [varchar](300) NOT NULL,
	[Idmotivo] [int] NOT NULL,
	[IdResponsable] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[motivo]    Script Date: 03/11/2023 9:45:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[motivo](
	[Idmotivo] [int] IDENTITY(1,1) NOT NULL,
	[motivo] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoUsuario]    Script Date: 03/11/2023 9:45:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoUsuario](
	[IdTipoDeUsuario] [int] IDENTITY(1,1) NOT NULL,
	[TipoUsuario] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 03/11/2023 9:45:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[loginusuario] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[idTipoUsuario] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
